{%- comment -%}
  Renders the total price of the cart

  Accepts:
  - hydration {'on:visible'|'on:idle'|'on:interaction'|'on:media'} - Hydration strategy
{%- endcomment -%}

{% liquid
  assign hydration = hydration | default: 'on:visible'
%}

<is-land {{ hydration }}>
  <block-cart-totals {{ block.shopify_attributes }}>
    <template shadowrootmode="open">
      {{ 'block-cart-totals.css' | asset_url | stylesheet_tag }}

      <span>{{ 'labels.total' | t }}</span>
      <cart-total-price>
        {{- cart.total_price | money -}}
      </cart-total-price>
    </template>
  </block-cart-totals>
  <template data-island>
    <script type="module">
      import 'components/block-cart-totals'
    </script>
  </template>
</is-land>
