{%- comment -%}
  Renders a select dropdown for a product option

  Accepts the following attributes:
  - option {product_option} - Product option object
  - forloop {forloop} - Parent loop object
  - product {product} - Product object

  Usage:
  {% render 'variant-dropdown', option: option %}
{%- endcomment -%}

<div class="variant-dropdown">
  <label for="Option-{{ section.id }}-{{ forloop.index0 }}">
    {{- option.name -}}
  </label>

  <div class="select">
    <select
      id="Option-{{ section.id }}-{{ forloop.index0 }}"
      name="options[{{ option.name | escape }}]"
      form="{{ product_form_id }}"
    >
      {%- for value in option.values -%}
        <option
          value="{{ value | escape }}"
          {% if option.selected_value == value %}
            selected="selected"
          {% endif %}
        >
          {{- value -}}
        </option>
      {%- endfor -%}
    </select>

    {%- render 'icon', name: 'caret' -%}
  </div>
</div>
