{%- comment -%}
  Renders the product title

  @param {block} block - The block object
  @param {product} product - The product object

  @example
  {% render 'block-title', block: block %}
{%- endcomment -%}

{%- liquid
  assign title_default = 'labels.example_product' | t
  assign title = product.title | default: title_default
  assign current_variant = product.selected_or_first_available_variant
  assign vendor_enable = block.settings.vendor_enable
  assign sku_enable = block.settings.sku_enable
  assign vendor = product.vendor
  assign collection_handle = vendor | handleize
  assign collection_for_vendor = collections[collection_handle]
  assign vendor_url_default = vendor | url_for_vendor
  assign vendor_url = collection_for_vendor.url | default: vendor_url_default
-%}

<block-title class="block-title" data-section-id="{{ section.id }}">
  <h1 class="h2 block-title__heading">
    {{- title -}}
  </h1>

  {%- if vendor_enable or sku_enable -%}
    <div class="block-title__vendor-sku">
      {%- if vendor_enable -%}
        <a class="block-title__vendor" href="{{ vendor_url }}">
          {{- vendor -}}
        </a>
      {%- endif -%}

        <span class="block-title__sku" data-sku-id>
          {%- if sku_enable and current_variant.sku != blank -%}
            SKU: {{ current_variant.sku }}
          {%- endif -%}
        </span>
    </div>
  {%- endif -%}
</block-title>
<script type="module">
  import 'components/block-title';
</script>
