{%- liquid
  assign use_variant = use_variant | default: true
  assign target = product
  if use_variant
    assign target = product.selected_or_first_available_variant
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false

  assign product_save_amount = settings.product_save_amount
  assign product_save_type = settings.product_save_type
  assign saved_amount = product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | round | append: '%'
  if product_save_type == 'dollar'
    assign saved_amount = product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | money_without_trailing_zeros
  endif
-%}

<block-price
  class="block-price"
  {% unless available %}
    data-sold-out=""
  {% endunless %}
  {% if compare_at_price > price %}
    data-on-sale=""
  {% endif %}
  {% if product.selected_or_first_available_variant.unit_price_measurement %}
    data-unit-price=""
  {% endif %}
>
  <div class="block-price__container">
    <div class="block-price__regular">
      <span class="visually-hidden">{{ 'labels.regular_price' | t }}</span>
      <span class="">
        {%- render 'price', price: price -%}
      </span>
    </div>
    <div class="block-price__sale">
      {%- unless product.price_varies == false and product.compare_at_price_varies %}
        <span class="visually-hidden">{{ 'labels.regular_price' | t }}</span>
        <span>
          <s class="">
            {%- render 'price', price: compare_at_price -%}
          </s>
        </span>
      {%- endunless -%}
      <span class="visually-hidden">{{ 'labels.sale_price' | t }}</span>
      <span class="">
        {%- render 'price', price: price -%}
      </span>
    </div>
    <small class="block-price__unit-price">
      <span class="">
        <span>
          {%- render 'price', price: product.selected_or_first_available_variant.unit_price -%}
        </span>
        <span>/</span>
        <span>
          {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
            {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
        </span>
      </span>
    </small>
    {%- if product_save_amount -%}
      <span class="block-price__save">
        {{- 'info.save_amount' | t: saved_amount: saved_amount -}}
      </span>
    {%- endif -%}
  </div>
</block-price>
